<div class="workspace-viewer-header">
  <h6 class="workspace-viewer-name">{{qualifierIcon q}}&nbsp;{{name}}</h6>

  <div class="workspace-viewer-actions">
    <a href="#" class="js-minimize">Minimize</a>
    <a href="#" class="js-full-screen">Full Screen</a>
    <a href="#" class="js-close">Close</a>
  </div>
</div>

<div class="workspace-viewer-container"></div>
