<% content_for :script do %>
  <script>require(['issues/app-context']);</script>
<% end %>

<div class="issues search-navigator"></div>

<script>
  var config = {
    resource: '<%= @resource.uuid -%>',
    resourceQualifier: '<%= @resource.qualifier -%>',
    resourceName: '<%= @resource.name -%>',
    periodDate: <% if @period %>'<%= Time.at(@snapshot.period_datetime(@period)/1000) -%>'<% else %>null<% end %>
  };
</script>
